body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
img#background-dice {
    position: absolute;
    //z-index: -1;
    width: 900px;
    opacity: 0.25;
}

.hidden {
    display: none !important;
}