body #app #index {
    color: rgb(200, 200, 200);
    background-color: rgb(27, 27, 27);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Acme', sans-serif;
    position: relative;
    min-height: 100vh;

    @media(max-width: 900px) {
        img#background-dice {
            width: 90%;
            padding-bottom: 15%;
        }
    }
    
    button { /*remove default button styling*/
        border: none;
        cursor: pointer;
        /*cool default transition*/
        transition: background 250ms ease-in-out, transform 150ms ease;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
    
    header {
        position: absolute;
        top: 0;
        width: 100%;
        display: flex;

        h1 {
            margin: 2% auto 0 2%;
            font-size: 4em;
            font-weight: 300;
            font-family: 'Acme', sans-serif;
        }
        a {
            margin: 2% 2% auto auto;
            text-decoration: none;
            color: rgb(200, 200, 200);
            border-bottom: 1px solid rgb(200, 200, 200);
            cursor: pointer;
        }
    }
    
    @media(max-width: 900px) {
        header {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        header h1 {
            margin: 1% 0 0 0;
        }
        header a {
            margin: 0;
        }
    }
    
    main {
        z-index: 99;
        margin: 30px 0 0 0;
        width: 550px;
        height: 80%;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        input.add-new-game {
            font-size: 1.2em;
            margin: 10px auto;
            width: 65%;
            text-align: center;
        }
        button.add-new-game {
            font-size: 1.2em;
            background-color: rgb(191, 191, 191);
            //color: black;
            border-radius: 2px;
            margin: 50px auto 50px auto;
            line-height: 2em;
        }
    }
    @media(max-width: 900px) {
        main {
            margin-top: 10%;
            width: 60%;
            height: 70%;
        }
    }
    main button {
        width: 65%;
        margin: 15px auto 15px auto;
        background: rgb(78, 78, 78);
        border-radius: 4px;
        color: rgb(32, 32, 32);
        line-height: 2.5em;
        font-size: 1.7em;
        font-weight: bold;
    }
    main button:hover, main button:focus {
        background: rgb(44, 44, 44);
        color: rgb(65, 65, 65);
    }
    main span {
        margin: 30px auto 10px auto;
        font-size: 2em;
        color: rgba(255, 255, 255, 0.3);
    }
    @media(max-width: 900px) {
        main {
            width: 75%;
            height: 60%;
        }
        main button {
            width: 70%;
            margin: 5% auto 5% auto;
            line-height: 320%;
            font-size: 120%;
        }
        main span {
            margin: 5% auto 2% auto;
            font-size: 125%;
        }
    }
}

